# OS files
.DS_Store
Thumbs.db

# SQLite
*.db
*.sqlite
*.sqlite3

# Power BI temporary files
*.pbix.autosave

# Logs
*.log

# Python (por si en el futuro lo usas)
__pycache__/
*.pyc

# VS Code / IDE
.vscode/
.idea/
